In [78]:
import numpy as np
import pandas as pd

In [79]:
%matplotlib inline
import matplotlib.pyplot as plt

In [80]:
data = pd.read_csv('trades/2011-07.csv')

## Some useful transformations

In [81]:
price_usd = pd.DataFrame(data["Money"]/data["Bitcoins"], columns=['Price_USD'])
data = data.join(price_usd)
import datetime
data["Date"] = pd.to_datetime(data.Date)

In [82]:
data.head()

,Trade_Id,Date,User_Id,Japan,Type,Currency,Bitcoins,Money,Money_Rate,Money_JPY,Money_Fee,Money_Fee_Rate,Money_Fee_JPY,Bitcoin_Fee,Bitcoin_Fee_JPY,Price_USD
0,1309478459355721,2011-07-01 00:00:59,61717,NJP,buy,USD,0.100000,1.61010,80.433128,129.505380,0,80.433128,0,0.0003,0.389795,16.101000
1,1309478459355721,2011-07-01 00:00:59,4125,NJP,sell,USD,0.100000,1.61010,80.433128,129.505380,0,80.433128,0,0.0000,0.000000,16.101000
2,1309478466574560,2011-07-01 00:01:06,57157,NJP,buy,USD,1.000000,16.10098,80.433128,1295.052186,0,80.433128,0,0.0000,0.000000,16.100980
3,1309478466574560,2011-07-01 00:01:06,4125,NJP,sell,USD,1.000000,16.10098,80.433128,1295.052186,0,80.433128,0,0.0000,0.000000,16.100980
4,1309478468980270,2011-07-01 00:01:08,337,NJP,buy,USD,1.705052,27.45300,80.433128,2208.130665,0,80.433128,0,0.0000,0.000000,16.100978

In [107]:
plt.rcParams['figure.figsize'] = (19.0, 12.0)
#plt.plot(data["Date"],data["Price_USD"])

In [106]:
#data[data["Price_USD"] > 5000]

### K = 10

In [85]:
K = 10

## Top K buyers

In [104]:
grouped = data[data.Type == 'buy'].groupby('User_Id')
btc_vol = grouped.sum()['Bitcoins']
#usd_vol = grouped.sum()['Money']
sorted_buyers = btc_vol.sort_values(ascending=False,inplace=False)
top_buyers = sorted_buyers[:K]
buyers = np.array(top_buyers.index)

## Top K sellers

In [105]:
grouped = data[data.Type == 'sell'].groupby('User_Id')
btc_vol = grouped.sum()['Bitcoins']
#usd_vol = grouped.sum()['Money']
sorted_sellers = btc_vol.sort_values(ascending=False,inplace=False)
top_sellers = sorted_sellers[:K]
sellers = np.array(top_sellers.index)

# Buy-Sell Matrix

In [117]:
unique_users = np.unique(data["User_Id"])
n_users = len(unique)

In [118]:
buy_sell_mat = np.zeros((n_users,n_users))

In [130]:
def user2index(users, user_id):
    return np.where(users == user_id)[0]

In [137]:
trades_grouped = data.groupby('Trade_Id')
buy_sell_mat = np.zeros((n_users,n_users))

In [142]:
i = 0
for trade, group in trades_grouped:
    if i == 5:
        print(group[['User_Id','Type']])
        break
    i += 1

    User_Id  Type
10     5768   buy
11     4125  sell

## Regarder
http://networkx.github.io/

https://networkx.github.io/documentation/latest/reference/generated/networkx.linalg.graphmatrix.adjacency_matrix.html